div((click)="outOfBoundsClick()", *ngIf="stateValue").reveal-overlay
  div((mouseenter)="overModal = true", (mouseleave)="overModal = false", class = "{{ size }}").reveal

    div(*ngIf="pathIconClose").icon-close
      button(type="button", (click)="overModal = false")
        img([src]="pathIconClose")

    ng-content(select=".de-modal-content")
